.nav-link {
  text-decoration: none;
  font-size: 1em;
  padding: 0.3em 0.7em;
  border-radius: 20px;
  margin-left: 1.1em;
}

.link-selected {
  text-decoration: none;
  font-size: 1em;
  border: 2px solid orange;
  padding: 0.3em 0.7em;
  border-radius: 20px;
  margin-left: 1.1em;
}

.nav-bar {
  padding: 1.1em 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-bar-mobile {
  padding: 0.8em 2em;
  padding-top: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fffaf6;
}

.wrapper {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 365px;
  position: relative;
}

.wrapper-mobile {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  position: relative;
}

.wrapper-card {
  height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 642px;
  position: relative;
}

.wrapper-card-mobile {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 530px;
}

.wrapper-result {
  height: calc(100vh - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  position: relative;
}

.selection {
  user-select: none;
  cursor: pointer;
  border: 2px solid orange;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.selection.selected {
  background-color: rgba(255, 187, 0, 0.233);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 30px;
  transition: 0.5s;
}

.selection:hover {
  transition: 0.5s;
  padding-left: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.flag {
  vertical-align: middle;
  position: relative;
  bottom: 3px;
  border: 1px solid black;
  border-radius: 10px;
}
