.nav-link {
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 1.3em;
}

.nav-bar {
  padding: 2em;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fffaf6;
}

.wrapper {
  height: calc(100vh - 87px);
  display: flex;
  align-items: center;
  min-height: 365px;
  position: relative;
  bottom: 80px;
}
